[DESIGN]

[TYPECHECK]

[MASTER]
DJANGO_SETTINGS_MODULE=openlxp_xia_moodle_project.settings

ignore-paths=^.*\.cache\/*\/.*$

disable=consider-iterating-dictionary,
        consider-using-dict-items,
        deprecated-method,
        import-error,
        import-outside-toplevel,
        invalid-name,
        line-too-long,
        logging-not-lazy,
        missing-class-docstring,
        missing-function-docstring,
        missing-module-docstring,
        no-member,
        raise-missing-from,
        superfluous-parens,
        too-few-public-methods,
        too-many-instance-attributes,
        unrecognized-option,
        unused-argument,
        unused-variable,
        useless-super-delegation



[MESSAGES CONTROL]

[FORMAT]
max-line-length=100
